
{% extends 'blog/base.html' %}

{% block content %}
  <style>
    h2, h3 {
      display: block;
      margin: 0;
      padding: 0;
    }
   
  </style>
  <h2 style="margin-bottom: 40px; display: block">Most Popular Blog Posts    </h2>
  <br>
  <h3>Blogs arranged according to their popularity</h3>
  <ul>
    {% for post in popular_posts %}
      <li>
        <h3>{{ post.title }}</h3>
        <p>{{ post.cont }}</p>
        <p><strong>Views:</strong> {{ post.view_count }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
